// Default variables
html {
	--base-font-size: 20px;
}

// Light default theme
body {
 	--bg-color: #F3F7F9;
 	--bg-content-color: #fff;
 	--bg-code: #1a1919;
 	--body-color: #444;
 	--title-color: #111;
 	--link-color: #6b17e6;
 	--border-color:  rgba(0,0,0,.1);;
  --space: 3.5rem;
  --content-width: 860px;
  --header-height: 80px;
  --radius: 5px;
}
.language-text {

    background-color: #BEBEBE5C;
    color: black !important;

}